# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
node_modules
!dist/
dist-ssr

# Consultorio Rawson
consultorio/client/node_modules
consultorio/server/node_modules
!consultorio/client/dist/
*.local
.env
.env.*
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Prevenir que carpetas del sistema de Windows se cometan por error
OneDrive/
